#
# Apache/PHP/site settings:
#

# Protect files and directories from prying eyes:
<Files ~ "(\.(conf|git|gitignore|inc|module|pl|sh|sql|theme)|Entries|readme.md|Repositories|Root|scripts|updates|util)$">
  order deny,allow
  deny from all
</Files>

# Set some options
#Options -Indexes
Options +FollowSymLinks

# Set the default handler to index.php:
#DirectoryIndex index.php

# By passing the charset you avoid the 500 error display
AddDefaultCharset utf-8



# Customized server error messages:
ErrorDocument 400 /errors/error_401.php
ErrorDocument 402 /errors/error_503.php

ErrorDocument 401 /errors/error_401.php
ErrorDocument 403 /errors/error_403.php
ErrorDocument 404 /errors/error_404.php
ErrorDocument 500 /errors/error_500.php
ErrorDocument 503 /errors/error_503.php


# Overload PHP variables:
<IfModule mod_php4.c>
#   php_value register_globals        0
#   php_value track_vars              1
#   php_value short_open_tag          1
#   php_value magic_quotes_gpc        0
#   php_value magic_quotes_runtime    0
#   php_value magic_quotes_sybase     0
#   php_value arg_separator.output    "&amp;"
#   php_value session.cache_expire    200000
#   php_value session.cookie_lifetime 2000000
#   php_value session.auto_start      1
#   php_value session.save_handler    user
#   php_value session.cache_limiter   none
#   php_value allow_call_time_pass_reference  Off
</IfModule>



# Various rewrite rules
<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteBase /

  RewriteCond %{HTTPS} !on
  RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

  # Rewrite atom feed from directory to the index.xml file
  RewriteRule ^blog/feed/atom/$ blog/feed/atom/index.xml
</IfModule>

# Security headers
# NOTE: We allow youtube-nocookie.com for embedding youtube videos
# TODO: Consider just showing an image and providing a link to youtube?
<IfModule mod_headers.c>
  Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
  Header set X-Content-Type-Options "nosniff"
  Header set Referrer-Policy "same-origin"
  Header set Content-Security-Policy "default-src 'self' youtube-nocookie.com *.youtube-nocookie.com"
  Header set Content-Security-Policy "frame-ancestors 'none'"

  # Disallowed functionality
  Header set Permissions-Policy "accelerometer=(), ambient-light-sensor=(), battery=(), camera=(), display-capture=(), microphone=(), document-domain=(), encrypted-media=(), gamepad=(), geolocation=(), gyroscope=(), hid=(), identity-credentials-get=(), idle-detection=(), local-fonts=(), magnetometer, microphone=(), midi=(), otp-credentials=(), payment=(), publickey-credentials-create=(), publickey-credentials-get=(), screen-wake-lock=(), serial=(), speaker-selection=(), storage-access=(), usb=(), xr-spatial-tracking=()"
  # Allowed functionality
  Header set Permissions-Policy "autoplay=(self), fullscreen=(self), picture-in-picture=(self), web-share=(self)"

  # So close, just one more security header and we'll have the whole set at https://securityheaders.com/?q=https%3A%2F%2Fchris.iluo.net%2F
  # I can't get it to work with embedded youtube videos though. I tried, but it nearly broke me. Maybe youtube doesn't support this?
  #Header set Cross-Origin-Embedder-Policy "require-corp; report-to=\"default\""
  Header set Cross-Origin-Embedder-Policy-Report-Only "require-corp; report-to=\"default\""
  Header set Cross-Origin-Opener-Policy "same-origin; report-to=\"default\""
  Header set Cross-Origin-Opener-Policy-Report-Only "same-origin; report-to=\"default\""
  Header set Cross-Origin-Resource-Policy "same-origin"
</IfModule>
